@(message: String = "", calculatorForm: Form[CalculatorEquation])

@main("Play 2 calculator!") {
    <div class="calculator">
        <h2>Welcome to the Play2 Calculator!</h2>
        @if(message != "") {
            <h4>@message</h4>
        }
        @helper.form(action = routes.Calculator.calculate) {
            @helper.inputText(calculatorForm("equation"), 'placeholder -> "1 + 2 / (3 - 4) * 5",  'autocomplete -> "off")
            <input type="submit" value="Calculate!" />
        }
    </div>
}
